@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Rowdies:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #ED145B;
    --text-color-hover: #ffff;
    --bg-url: url(assets/dark-backgroung.svg);
    --bg-url-mobile: url(assets/dark-background-mobile.svg);
    --stroke-color: #ED145B;
    --surface-color: transparent;
    --surface-color-hover: #ED145B;
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(assets/switch-light.svg);
}

.dark {
    --text-color: #ED145B;
    --text-color-hover: #ffff;
    --bg-url: url(assets/light-backgroung.svg);
    --bg-url-mobile: url(assets/light-backgroung-mobile.svg);
    --stroke-color: #ED145B;
    --surface-color: transparent;
    --surface-color-hover: #ED145B;
    --highlight-color: rgba(39, 38, 38, 0.2);
    --switch-bg-url: url(assets/switch-dark.svg);
}


body {
    background: var(--bg-url);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#all-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 26px;
}

.perfil {
    object-fit: cover;
    width: 14em;
    height: 14em;
    border-radius: 10rem;
    border: 3px solid var(--text-color);
    margin-top: 3px;
}

p {
    font-family: 'Inter';
    font-size: 22px;
    color: var(--text-color);
}

#switch {
    position: relative;
    padding: 20px;
}

#switch button {
    width: 32px;
    height: 32px;
    background: #ffff var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    border: 1px solid #ED145B;
}

.dark #switch button{
    right: 19px;
    left: inherit;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
    transition: .3s;
}


#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 2em;
}

#link button {
    font-family: 'Inter';
    font-size: 20px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 0.5rem;
    width: 12em;
    color: var(--text-color);
    padding: 10px;
}

#link {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 20px;
}

#link button:hover {
    transition: .3s;
    background: var(--surface-color-hover);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: var(--text-color-hover);
}

#midias {
    display: flex;
    gap: 40px;
    padding: 20px;
    font-size: 43px;
}

#midias a {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

#midias a:hover {
    background: var(--highlight-color);
    border-radius: 50%;
    transition: .3s;
}

@media screen and (max-width: 500px) {
    :root{
        width: 100vw;
        height: 100vh;
    }

    body{
        background: var(--bg-url-mobile);
    }

    #all-itens{
        gap: 1px;
        padding: 2em;
    }

    .perfil{
        width: 8em;
        height: 8em;
        border: 4px solid var(--text-color);
    }

    #link button {
        font-size: 16px;
    }
}